<font size="4"><b>Event Bulletin: PPGC Monday Auction</b></font><br/>
<br/>
<b>Use the text area at 'Body' section, to copy and paste into a new bulletin post, like the one shown at the 'Preview' area. <br/>
The 'Title' section is a sugestion for the Bulletin title.</b><br/>
<br/>
<b>Title:</b><br/>
Monday 9 PM(est): PPGC Auction, Fun + Best deals ever!!! Contact AmberFairy to enter! (pls repost)<br/>
<br/>
<b>Body:</b><br/>
<textarea cols="60" rows="40"><center>
<table border="0" cellpadding="0" cellspacing="0" width="700">
<tbody bgcolor="cyan">
<tr>
	<td width="527">
		<table border="0" cellpadding="2" cellspacing="2" width="490">
		<tbody>
		<tr>
			<td>
				<center><font color="#520052" size="6">Pink Pussy Family<br/>Invites you for a Fairy Auction!!<br/>Mondays, starting at 9 PM (est)<br/><br/>Contact AmberFairy to book your offers.<br/>Outfits, Deco, AG, Houses, DJs and much more...<br/>The best deals are here, come and have fun!<br/></font><a href="vww://utherverse.vww/@81868/pinkpussy">vww://utherverse.vww/@81868/pinkpussy</a><br>
				<br>
				<a href="http://www.utherverse.com/net/profile/view_profile.aspx?MemberID=95236795"><img border="0" src="http://i1196.photobucket.com/albums/aa419/sugar_babe_/PPGC/mon-auc_amberfairy.jpg" alt="Contact AmberFairy to enter!"></a></center>
			</td>
		</tr>
		<tr>
			<td>
				<font color="#000000"><b>Copy and paste below to repost:</b></font><br/>
				<textarea name="textarea" cols="80" rows="8">
				<center>
				<table border="0" cellpadding="0" cellspacing="0" width="700">
				<tbody bgcolor="cyan">
				<tr>
					<td>
						<font color="#520052" size="6">Pink Pussy Family<br/>Invites you for a Fairy Auction!!<br/>Mondays, starting at 9 PM (est)<br/><br/>Contact AmberFairy to book your offers.<br/>Outfits, Deco, AG, Houses, DJs and much more...<br/>The best deals are here, come and have fun!<br/></font><a href="vww://utherverse.vww/@81868/pinkpussy">vww://utherverse.vww/@81868/pinkpussy</a><br>
						<br>
						<a href="http://www.utherverse.com/net/profile/view_profile.aspx?MemberID=95236795"><img border="0" src="http://i1196.photobucket.com/albums/aa419/sugar_babe_/PPGC/mon-auc_amberfairy.jpg" alt="Contact AmberFairy to enter!"></a></center>
					</td>
				</tr>
				</tbody>
				</table>
				</center>
				</textarea>
			</td>
		</tr>
		</tbody>
		</table>
	</td>
</tr>
</tbody>
</table>
</center></textarea><br/>
<br/>
<b>Preview:</b><br/>
<center>
<table border="0" cellpadding="0" cellspacing="0" width="700">
<tbody bgcolor="cyan">
<tr>
	<td width="527">
		<table border="0" cellpadding="2" cellspacing="2" width="490">
		<tbody>
		<tr>
			<td>
				<center><font color="#520052" size="6">Pink Pussy Family<br/>Invites you for a Fairy Auction!!<br/>Mondays, starting at 9 PM (est)<br/><br/>Contact AmberFairy to book your offers.<br/>Outfits, Deco, AG, Houses, DJs and much more...<br/>The best deals are here, come and have fun!<br/></font><a href="vww://utherverse.vww/@81868/pinkpussy">vww://utherverse.vww/@81868/pinkpussy</a><br>
				<br>
				<a href="http://www.utherverse.com/net/profile/view_profile.aspx?MemberID=95236795"><img border="0" src="http://i1196.photobucket.com/albums/aa419/sugar_babe_/PPGC/mon-auc_amberfairy.jpg" alt="Contact AmberFairy to enter!"></a></center>
			</td>
		</tr>
		<tr>
			<td>
				<font color="#000000"><b>Copy and paste below to repost:</b></font><br/>
				<textarea name="textarea" cols="80" rows="8">
				<center>
				<table border="0" cellpadding="0" cellspacing="0" width="700">
				<tbody bgcolor="cyan">
				<tr>
					<td>
						<font color="#520052" size="6">Pink Pussy Family<br/>Invites you for a Fairy Auction!!<br/>Mondays, starting at 9 PM (est)<br/><br/>Contact AmberFairy to book your offers.<br/>Outfits, Deco, AG, Houses, DJs and much more...<br/>The best deals are here, come and have fun!<br/></font><a href="vww://utherverse.vww/@81868/pinkpussy">vww://utherverse.vww/@81868/pinkpussy</a><br>
						<br>
						<a href="http://www.utherverse.com/net/profile/view_profile.aspx?MemberID=95236795"><img border="0" src="http://i1196.photobucket.com/albums/aa419/sugar_babe_/PPGC/mon-auc_amberfairy.jpg" alt="Contact AmberFairy to enter!"></a></center>
					</td>
				</tr>
				</tbody>
				</table>
				</center>
				</textarea>
			</td>
		</tr>
		</tbody>
		</table>
	</td>
</tr>
</tbody>
</table>
</center>